[Unit]
Description=OpenSearch Scaling Manager(scale the opensearch cluster based on rules.)
After=network.target

[Service]
Type=simple 
User=
Group=
WorkingDirectory=/usr/local/scaling_manager_lib
ExecStart=/usr/local/scaling_manager_lib/scaling_manager start
KillSignal=SIGINT
KillMode=process
TimeoutStopSec=10min

[Install]
WantedBy=multi-user.target